@{
    ViewBag.Title = "Default";
}

<h2>Default</h2>
<div class="container">
    <ul class="tiles">
        <li class="fdd big">
        FDD<br>
        Show Feature Lists<br>
        3 
        </li>
        <li class="cyan big">Tile 1.2</li>
        <li class="blue big">Tile 2</li>        
    </ul>
    <ul class="tiles">
        <li class="cyan big">Tile 1.2</li>
        <li class="blue big">Tile 2</li>
        <li class="magenta big">Tile 3</li>
    </ul>
    <ul class="tiles">
        <li class="blue big">Tile 2</li>
        <li class="magenta big">Tile 3</li>
        <li class="cyan big">Tile 1.1</li>
    </ul>
    <ul class="tiles">
        <li class="magenta big">Tile 3</li>
        <li class="cyan big">Tile 1.2</li>
        <li class="blue big">Tile 2</li>
    </ul>
    <ul class="tiles">
        <li class="magenta big">Tile 3</li>
        <li class="cyan big">Tile 1.2</li>
        <li class="blue big">Tile 2</li>
    </ul>
    <ul class="tiles">
        <li class="magenta big">Tile 3</li>
        <li class="cyan big">Tile 1.2</li>
        <li class="blue big">Tile 2</li>
    </ul>
</div>