@{
    ViewBag.Title = "Default";
}

<h2>Default</h2>
<div class="container">
<ul class="tiles">
    <li class="cyan small">Tile 1.1</li>
    <li class="cyan small">Tile 1.2</li>
    <li class="blue medium">Tile 2</li>
    <li class="magenta big">Tile 3</li>
</ul>
</div>