@{
    ViewBag.Title = "Default";
}

<h2>MonackFr</h2>
<div class="tiles">
    <div class="tileExpander">
        <ul class="tiles">
            <li class="blue big">1</li>
            <li class="blue big">2</li>
            <li class="blue big">3</li>
            <li class="blue big">4</li>
            <li class="blue big">5</li>
            <li class="blue big">6</li>
            <li class="blue big">7</li>
            <li class="blue big">8</li>
        </ul>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.tiles").tiles();
        });
</script>
}



