<ul class="module-content">
    <li>
        <table border="1">
            <thead>
            <tr>
                <td>Rolename</td>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in rolesCtrl.roles">
                    <td>{{role.Name}}</td>
                    <td>{{role.Description}}</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>


