
<ul class="module-menu">
    <li>
        <a ui-sref="monackfr-usermanagement-users()">Users</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-groups()">Groups</a>
</li>
    <li>
        <a ui-sref="monackfr-usermanagement-roles()">Roles</a>
</li>
</ul>
<ul ng-controller="rolesController" class="module-content">
    <li>
        <table border="1">
            <thead>
            <tr>
                <td>Rolename</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in roles">
                <td>{{role.name}}</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        </table>
    </li>
</ul>


