
<ul class="module-menu">
    <li>
        <a ui-sref="monackfr-usermanagement-users()">Users</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-groups()">Groups</a>
</li>
    <li>
        <a ui-sref="monackfr-usermanagement-roles()">Roles</a>
</li>
</ul>
<ul class="module-content">
    <li>
        <table border="1">
            <thead>
            <tr>
                <td>Rolename</td>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in rolesCtrl.roles">
                <td>{{role.Name}}</td>
                <td>{{role.Description}}</td>
            </tr>
        </table>
    </li>
</ul>


