@using MonackFr.Mvc.Areas.PackageManagement.ViewModels
@model PackageList
@{
	ViewBag.Title = "Install";
}

<h2>Select modules to install</h2>

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)

    
	foreach (Package package in Model.Packages)
	{
		<fieldset>
			<legend>Package</legend>
			<div>
				<br />
				@foreach (Module module in package.Modules)
				{
					<fieldset>
						<legend>@module.Name</legend>
						<span>@module.Author</span>
					</fieldset>
				}
			</div>
		</fieldset>
	}
	 <p>
		<input type="submit" value="Reinstall" />
     </p>
}