@using MonackFr.Mvc.ViewModels
@{
	ViewBag.Title = "Default";
}

<h2>MonackFr</h2>
<a href="javascript:void(0)" class="home-button">Home</a>
<div class="tiles">
	<ul>	
	</ul>

</div>

@section Scripts {
	<script type="text/javascript">

		$(document).ready(function () {
			$(".home-button").bind("click", function () {
				$(".modules").hide();
				$(".tiles").show();
			});

			$.post('@Url.Action("GetModules", "Module")', function (data) {
				$(".modules").modules(data);
			})
		});

		var showModule = function showModule(module) {
			console.log(module);
			$(".tiles").hide();
			$("." + module).show();
		};

		function Tile(data) {
			self.Title = ko.observable(data.Title);
			self.Copyright = ko.observable();
			self.Url = ko.observable();
		}

		function MenuItem(data) {
			self.Label = k.observable(data.Title);

		}

		function TileViewModel() {
			var self = this;
			self.tiles = ko.observableArray();
			$.post('@Url.Action("GetTiles", "Tile")', function (data) {
				var mappedTiles = $.map(data, function (item) { return new Tile(item) });
				self.tiles(mappedTiles);
				$("div.tiles").tiles(data, showModule);				
			});
		}

		ko.applyBindings(new TileViewModel());
</script>
}

<ul class="modules">
	@foreach (Module module in ViewBag.Modules)
 {
	 <li class="module @module.SystemName">
		 @module.SystemName
	 </li>
 }


</ul>


<div class="module monackfr-taskmanager" style="display:none;">

	<h2>UserManagement</h2>
	<ul class="module-menu"></ul>

	<div class="pagecontent">

	</div>
</div>



