@{
	ViewBag.Title = "Default";
}

    <a ui-sref="tiles()" class="home-button">Home</a>
    <section ui-view></section>

@section Scripts {
        <script src="~/Scripts/monackfr.js"></script>
        <script src="~/Scripts/Tiles/tile-controller.js"></script>
        <script src="~/Scripts/Tiles/tile-api.js"></script>
    }

    @section ModuleScripts {
        <script src="~/areas/UserManagement/Scripts/users-controller.js"></script>
        <script src="~/areas/UserManagement/Scripts/users-api.js"></script>
        <script src="~/areas/UserManagement/Scripts/groups-controller.js"></script>
        <script src="~/areas/UserManagement/Scripts/groups-api.js"></script>
    }


