@{
    ViewBag.Title = "Install";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Install</title>
</head>
<body>
<div>
    <p>
        <form method="post" type="submit">
            <input type="submit" value="Reinstall" />
        </form>
    </p>
</div>
</body>
</html>
