<div ng-controller="tile-controller as tile" class="container-fluid tiles">
    <ul class="row">
        <li ng-repeat="tile in tile.tiles" class="col-xs-4 tile">
            <a ui-sref="{{tile.Controller}}()">
                {{tile.Title}}
                <ul>
                    <li ng-repeat="previewItem in tile.PreviewItems">
                        {{previewItem}}
                    </li>
                </ul>
                <span>{{tile.Copyright}}</span>
            </a>
        </li>
    </ul>
</div>
