ul.modules, ul.modules ul {
	display: inline-block;
	list-style-type: none;
	list-style:none;
	padding:0;
}

ul.modules ul.menu {
	display: inline-block;
}
ul.modules ul.menu ul {
	display: block;
	padding-left: 2px;
}

ul.modules div.panel {
	display:inline-block;
}