.container {
    overflow-x:scroll;
    overflow-y:hidden;
    height: 50%;
    width: 100%;
    border:1px solid red;
    
}

ul.tiles {
    display: table-cell;    
    padding:0;
}

ul.tiles li
{
    list-style-type: none;  
    list-style: none;
    display: block;
    padding:5px;
    margin:5px;
    font-family: 'Segoe UI Semibold';
    color: white;
}

.cyan {
    background-color: cyan;
}

.fdd {
    background-color: #2b4c75;
}

.magenta {
    background-color:magenta;
}

.blue {
    background-color: blue;
}

ul.tiles li.big {
    height: 200px;
    width: 235px;
}