/*.container {
    overflow-x:scroll;
    overflow-y:hidden;
    height: 50%;
    width: 100%;
    border:1px solid red;
    
}

ul.tiles {
    display: table-cell;    
    padding:0;
}
    */

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url(../Fonts/OpenSans-Regular.ttf) format('truetype');
}

ul.tiles li
{
    
}

div.tiles {
    height:650px;
    width:700px;
    border:1px solid #000;
    overflow-x:scroll;
    overflow-y:hidden;
}
div.tiles ul {
    display:table-cell;  
    padding:0;
    border: 0;
    margin: 0;
}

div.tiles a {
    margin:0;
    color: white;
    text-decoration:none;
    display:block;
    height: 200px;
    width: 235px;
}
ul.tiles li {
    list-style:none;
    font-family: 'Open Sans';    
    padding:10px;
    margin-top:4px;
    margin-left: 4px;
    
}

ul.tiles li h1 {
    font-size: 25px;
    font-weight:100;
    margin-top:0;
    margin-bottom:2px;
}

ul.tiles li h2 {
    font-size: 15px;
    font-weight:100;
    margin:0;
}

ul.tiles li span {
    font-size: 12px;
    font-weight:100;
    margin:0;
}

.cyan {
    background-color: cyan;
}

.fdd {
    background-color: #2b4c75;
}

.magenta {
    background-color:magenta;
}

.blue {
    background-color: blue;
}