@model MonackFr.Mvc.Areas.UserManagement.ViewModels.CreateUser

@{
	ViewBag.Title = "Create new user";
}

<script type="text/javascript">
	var CreateUser_Click = function () {
		alert('1');
	};

</script>

<h2>Create new user</h2>

<form class="cmxform" id="adduserform">
	<fieldset>
		<legend>Create a new user</legend>
		<p>
			<label for="username">Name (required, at least 2 characters)</label>
			<input id="username" name="username" minlength="4" type="text">
		</p>
		<p>
			<label for="emailaddress">E-Mail (required)</label>
			<input id="emailaddress" type="email" name="emailaddress" required>
		</p>			
		<p>
			<label for="password">Password (required)</label>
			<textarea id="password" name="password" required></textarea>
		</p>
		<p>
			<label for="retypepassword">Retype password (required)</label>
			<textarea id="retypepassword" name="retypepassword" required></textarea>
		</p>
		<p>
			
		</p>			
	</fieldset>

</form>
<script type="text/javascript">
	$("#adduserform").validate();
</script>
<hr/>
@(Html.UiButton("CreateUser")
				.Label("Create User")
				.OnClick("CreateUser_Click")
				.Show()
)