@using MonackFr.Mvc.Areas.UserManagement.Package

	<script type="text/javascript">
		
		var testtabel;

		monackfr.prototype.TestMethod = function panelLoaded() {
			console.log(this.this);			
			users();
		};

		var tabel2 = function () {
			$.ajax({
				url: "/Users/User/GetUsers",
				type: 'Post'
			}).done(function (data) {
				users(data);
			});
		};

		$(document).ready(function () {
			$("#reload").on("click", function () {
				$("#users").DataTable().ajax.reload();
			});
		});

		var UsersRowClick = function (row) {
			console.log(row);

			var name = $('td', row).eq(0).text();

			alert('You clicked on ' + name + '\'s row');
		}
	</script>

<h3>Users</h3>

@Html.ActionLink("New", "Create")

				  	<a href="#" id="reload">reload</a>
	@(
	 Html.DataTable("users")
				.AddColumn("Username", "UserName")
				.AddColumn("Email", "Email")
				.AddColumn("LastLogin", "LastLoginFormatted")
				.AjaxUrl(Url.Action("GetUsers", "User"))
				.OnRowClick("UsersRowClick")
				.Show()
	)