@using MonackFr.Mvc.Areas.UserManagement.Package
	<script type="text/javascript">
		
		monackfr.prototype.TestMethod = function panelLoaded() {			
			users();
			alert('1');
		};
		
		$(document).ready(function () {
			$("#reload").on("click", function () {
				$("#users").DataTable().ajax.reload();
			});
		});

		var UsersDeleteRender = function (data, type, full) {
			return '<a href="javascript:void(0)" onclick="UserDelete(\'' + data + '\');	">delete</a>';
		}

		var UsersEditRender = function (data, type, full) {
			var parameters = {
				username: 'admin'
			};

			return '<a href="javascript:void(0)" onclick="showPanel(\'@Names.Panels.Users.Add\', \'EditUser\', \'' + JSON.stringify(parameters) + '\')">edit</a>'
		}

		var UserDelete = function (userName) {
			$.ajax({
				url: '@Url.Action("Delete", "User")',
				type: 'post',
				data: {
					userName: userName
				},
				success: function () {
					$("#users").DataTable().ajax.reload();
				}
			});
		}
	</script>

<h3>Users</h3>

@Html.ActionLink("New", "Create")

				  	<a href="#" id="reload">reload</a>
	@(
	 Html.DataTable("users")
				.AddColumn("Username", "UserName")
				.AddColumn("Email", "Email")
				.AddColumn("LastLogin", "LastLoginFormatted")
				.AddColumn("Edit", "UserName", "UsersEditRender")
				.AddColumn("Delete", "UserName", "UsersDeleteRender")
				.AjaxUrl(Url.Action("GetUsers", "User"))
				.Show()
	)