
<ul class="module-menu">
    <li>
        <a ui-sref="monackfr-usermanagement-users()">Users</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-groups()">Groups</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-roles()">Roles</a>
    </li>
</ul>
<a ui-sref="monackfr-usermanagement-newuser()">new</a>
<ul class="module-content">
    <li>
        <table border="1">
            <thead>
            <tr>
                <td>Id</td>
                <td>Username</td>
                <td>Email</td>
                <td>Last login</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in usersCtrl.users">
                <td>{{user.Id}}</td>
                <td>{{user.UserName}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.LastLoginFormatted}}</td> 
                <td><a ui-sref="monackfr-usermanagement-edituser({id:user.Id})">edit</a></td>
                <td><a href="" ng-click="usersCtrl.delete(user)">delete</a></td>
            </tr>
        </table>
    </li>
</ul>


