
<ul class="module-menu">
    <li>
        <a ui-sref="monackfr-usermanagement-users()">Users</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-groups()">Groups</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-roles()">Roles</a>
    </li>
</ul>
<a ui-sref="monackfr-usermanagement-newuser()">new</a>
<ul ng-controller="usersController" class="module-content">
    <li>
        <table border="1">
            <thead>
            <tr>
                <td>Username</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in usersController.users">
                <td>{{user.UserName}}</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        </table>
    </li>
</ul>


