
<ul>
    <li>Menu
        <ul>
            <li>
                Users
            </li>
            <li>
                Groups
            </li>
            <li>
                Roles
            </li>
        </ul>
    </li>
</ul>
<ul ng-controller="usersController">
    <li>
        Users
        <table>
            <thead>
            <tr>
                <td>Username</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.UserName}}</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        </table>
    </li>
</ul>


