
<ul class="module-menu">
    <li>
        <a ui-sref="monackfr-usermanagement-users()">Users</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-groups()">Groups</a>
</li>
    <li>
        <a ui-sref="monackfr-usermanagement-roles()">Roles</a>
</li>
</ul>
<a ui-sref="monackfr-usermanagement-newgroup()">new</a>
<ul class="module-content">
    <li>
        <table border="1">
            <thead>
            <tr>
                <td>Groupname</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groupsCtrl.groups">
                <td>{{group.Name}}</td>
                <td><a ui-sref="monackfr-usermanagement-editgroup({id:group.Id})">edit</a></td>
                <td><a href="" ng-click="groupsCtrl.delete(group)">delete</a></td>
            </tr>
        </table>
    </li>
</ul>


