<ul class="module-menu">
    <li>
        <a ui-sref="monackfr-usermanagement-users()">Users</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-groups()">Groups</a>
    </li>
    <li>
        <a ui-sref="monackfr-usermanagement-roles()">Roles</a>
    </li>
</ul>


